<h2>Receitas</h2>

<ul>
  <% @recipes.each do |recipe| %>
    <li>
      <%= link_to recipe_path(recipe) do %>
        <strong><%= recipe.name %> - <%= recipe.recipe_type.name %></strong>
      <% end %>
    </li>
  <% end %>
</ul>

<div><%= link_to 'Nova Receita', new_recipe_path %></div>

<h2>Categorias</h2>

<ul>
  <% @recipe_types.each do |recipe_type| %>
    <li>
      <%= link_to recipe_type_path(recipe_type) do %>
        <strong><%= recipe_type.name %>
      <% end %>
    </li>
  <% end %>
</ul>

<div><%= link_to 'Nova Categoria', new_recipe_type_path %></div>
